<div class = "container">
  <div class = "row" style = "margin-top: 50px;">
    <div class = "col-md-2">
      <%= render 'public/items/genre_search', genres: @genres %>
    </div>
    <div class = 'col-md-9 offset-md-1'>
      <div class="row">
        <div class="col-12 text-center ">
          ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。
        </div>
      </div>
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-8 ">
              <h4>新着商品</h4>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row justify-content-center">
            <%= render 'index', item: @item %>
          </div>
        </div>
        <div class="container">
          <div class="text-right top_bottom_link">
            <%= link_to "全ての商品を見る＞　", items_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>