<div>
  <% items.each do |item| %>
  <div class="card search_cards item_index_row" style="float:left; margin-right:20px; text-align: center;">
    <div class="card-body" style="background-color:#faebd7;">
      <%= link_to admin_item_path(item.id) do %>
        <p><%= image_tag item.get_item_image, size: '100x100', class: "card-img-top" %></p>
        <div class="card_text">
          <b><%= item.name %></b><br>
          ￥<%= item.with_tax_price %>（税込）
        </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>