@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

// ↓國原記載##############################################
.icon{
  margin: 5px;
}

.login_customer_disp_name{
  margin: 0px 20px 0px 20px;
  font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',
  sans-serif;
}


.navigation_area{
  margin-top: 20px;
  margin-bottom: 10px;
}

.btn_link{
  margin: 0px 0px 10px 0px;
}

.heaedr-link {
transition: .4s;
border-radius: 10px
}

.heaedr-link:hover {
transition: .4s;
background-color: rgba(220, 220, 220, 1) ;
}

p.footertopline{
  border-top-style: solid;
  border-width: 1px;
}

.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
}

.search_input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_input{
  padding: 0 10px;
  width: 200px;
  caret-color:red;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon{
  background: white;
  color: #e74c3c;
}

.search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
  text-decoration:none;
}

.img_wrap_kuni{
  transition-duration: 0.5s;
}
.img_wrap_kuni img{
  width: 100%;
  cursor: pointer;
}
.img_wrap_kuni:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}

.news_cart_item {
  width: 90px;
  border-radius: 5px;
  position: sticky;
}

.news_count {
  position: absolute;
  top: 0px;
  left: calc(100% - 15px);
  color: #FFF;
  font-weight: bold;
  font-size: small;
  line-height: 20px;
  text-align: center;
  background: #ff7f50;
  border-radius: 10px;
  min-width: 20px;
  padding: 0 3px;
  box-sizing: border-box;
}
// ヘッダーを固定する
// .Header {
// position: fixed;
// top: 0;
// left: 0;
// width: 100%;
// height: 140px;
// padding-bottom: 140px;
// }
// ヘッダー固定の際に
// .Contents {
// overflow: auto; /* コンテンツの表示を自動に設定（スクロール） */
// }

// li.order_comp_li {
//   display: inline-block;
// }
// li.order_comp_li:nth-child(odd) {
//   -webkit-animation: horizontal1 1s ease-in-out infinite alternate;
// }
// li.order_comp_li:nth-child(even) {
//   -webkit-animation: horizontal2 1s ease-in-out infinite alternate;
// }

// span.order_comp_sp {
//   display: block;
//   text-align: center;
//   -webkit-animation: vertical 1s ease-in-out infinite alternate;
// }
// span.order_comp_sp img{
//   width: 100px;
//   height: auto;
// }
// li.order_comp_li:nth-child(1) span {
//   -webkit-animation-duration: 1.1s;
// }
// li.order_comp_li:nth-child(2) span {
//   -webkit-animation-duration: 1.3s;
// }
// li.order_comp_li:nth-child(3) span {
//   -webkit-animation-duration: 1.5s;
// }
// @-webkit-keyframes horizontal1 {
//   0% { -webkit-transform:translateX( -12px); }
//   100% { -webkit-transform:translateX(  0px); }
// }
// @-webkit-keyframes horizontal2 {
//   0% { -webkit-transform:translateX(  12px); }
//   100% { -webkit-transform:translateX(  0px); }
// }
// @-webkit-keyframes vertical {
//   0% { -webkit-transform:translateY(-40px); }
//   100% { -webkit-transform:translateY(  0px); }
// }

// ↑國原記載##############################################


// ↓松本記載##############################################

.last_name_field {
  margin-right: 100px;
}

.last_name_kana_field {
  margin-right: 100px;
}

.btn-outline-success {
  margin-left: 100px;
}