@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import "skippr.css";

// ↓國原記載##############################################
#notice {
  text-align: center;
  background-color: #e0ffff;
  font-weight: bold;
}

.icon{
  margin: 5px;
}

.login_customer_disp_name{
  margin: 0px 20px 0px 20px;
  font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
  font-size: 14px;
}

.navigation_area{
  margin-top: 20px;
  margin-bottom: 10px;
}

.btn_link{
  margin: 0px 0px 10px 0px;
}

.heaedr-link {
transition: .4s;
border-radius: 10px
}

.heaedr-link:hover {
transition: .4s;
background-color: rgba(220, 220, 220, 1) ;
}

p.footertopline{
  border-top-style: solid;
  border-width: 1px;
}

.footer_area{
  margin-bottom: 20px;
}

.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
}

.search_input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_input{
  padding: 0 10px;
  width: 200px;
  caret-color:red;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon{
  background: white;
  color: #e74c3c;
}

.search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
  text-decoration:none;
}

.img_wrap_kuni{
  transition-duration: 0.5s;
}
.img_wrap_kuni img{
  width: 100%;
  cursor: pointer;
}
.img_wrap_kuni:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}

.news_cart_item {
  width: 90px;
  border-radius: 5px;
  position: sticky;
}

.news_count {
  position: absolute;
  top: 0px;
  left: calc(100% - 15px);
  color: #FFF;
  font-weight: bold;
  font-size: small;
  line-height: 20px;
  text-align: center;
  background: #ff7f50;
  border-radius: 10px;
  min-width: 20px;
  padding: 0 3px;
  box-sizing: border-box;
}

.cards {
    transition: all 0.2s ease;
    cursor: pointer
}

.cards:hover {
    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.1)
}

.card_text {
  pointer-events: none;
  text-decoration:none;
  color:#000000;
}

.cards::before{
    content: "NEW !!";
    column-rule: #ffffff;
    background-color: #f0e68c;
    padding: 5px 25px;
}

.search_cards {
    transition: all 0.2s ease;
    cursor: pointer
}

.search_cards:hover {
    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.1)
}

.top_bottom_link {
 margin-top: 20px;
}

// ヘッダーを固定する
// .Header {
// position: fixed;
// top: 0;
// left: 0;
// width: 100%;
// height: 140px;
// padding-bottom: 140px;
// }
// ヘッダー固定の際に

.Contents {
font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
// overflow: auto; /* コンテンツの表示を自動に設定（スクロール） */
}

.top_item_index {
 margin-top: 40px;
}

.image_top {
 background-image: url(/assets/CheeseCake.jpg);
 background-size: cover;
 padding-top: 90px;
 padding-bottom: 60px;
 padding-left: auto;
 padding-right: auto;
 margin: 10px;
 text-align: center;
 width:100%;
 height:250px;
 color: #ffffff;
 position: relative;
 z-index: 0;
}

.image_top::before {
  content: '';
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  background: inherit;
  filter: blur(5px);
  z-index: -1;
}

.title_top {
  text-shadow: 0 0 10px #333;
}

.top_message {
  text-decoration: underline;
  text-shadow: 1px 2px 3px #808080;
}

.top_submessage {
  text-shadow: 1px 2px 3px #808080;
}

 #container_about {
  height: 400px;
  margin-top: 20px;
}

.image1 {
  background-image: url(/assets/CheeseCake.jpg);
}
.image2 {
  background-image: url(/assets/cookie.jpg);
}
.image3 {
  background-image: url(/assets/donutIMGL5823_TP_V4.jpg);
}
.image4 {
  background-image: url(/assets/ShortCake.jpg);
}
.image5 {
  background-image: url(/assets/taruto.jpg);
}

.content_title_kk {
  text-decoration: underline;
}

.input_field_kk {
  margin-bottom: 10px;
}

.cart_image_kk {
  margin-right: 10px;
}

.table_price_area {
  margin-top: 30px;
}

.br_font_kk{
  font-size: 10px;
}

.br_font_kk{
  font-size: 5px;
}

.item_index_row {
  margin-bottom: 30px;
}

/*#########大元のボタンスタイルは変更しないでください##### */
.form-button-common {
  border: 2px solid #555;
}

/*#########大元のボタンスタイルは変更しないでください##### */
.btn-style{
  /*アニメーションの起点とするためrelativeを指定*/
  position: relative;
  overflow: hidden;
    /*ボタンの形状*/
  text-decoration: none;
  display: inline-block;
    height: 45px;
    border: 2px solid #555;/* ボーダーの色と太さ */
    padding: 10px 30px;
    text-align: center;
    outline: none;
    /*アニメーションの指定*/
    transition: ease .2s;
}

/*#########大元のボタンスタイルは変更しないでください##### */
/*ボタン内spanの形状*/
.btn-style span {
  position: relative;
  z-index: 3;/*z-indexの数値をあげて文字を背景よりも手前に表示*/
  color:#333;
}

/*#########大元のボタンスタイルは変更しないでください##### */
.btn-style:hover span{
  color:#fff;
}

/*#########大元のボタンスタイルは変更しないでください##### */
/*== 背景が流れる（上から下） */
.bgtop:before {
  content: '';
    /*絶対配置で位置を指定*/
  position: absolute;
  top:0;
  left: 0;
  z-index: 2;
    /*色や形状*/
  background:  #333;/*背景色*/
  width: 100%;
  height: 0;
    /*アニメーション*/
  transition:.3s cubic-bezier(0.8, 0, 0.2, 1) 0s;
}

/*#########大元のボタンスタイルは変更しないでください##### */
/*hoverした際の形状*/
.bgtop:hover:before{
   height: 100%;
   background-color: #333;
}


.btnchangeradius1{
    /*ボタンの形状*/
  display:inline-block;
    background: #f5deb3;
    color: #696969;
    padding: 10px 20px;

  border: 1px solid #555;
    text-decoration: none;
    outline: none;
    /*アニメーションの指定*/
    transition:.3s ease-out;
}

/*hoverした際の角丸のアニメーション*/
.btnchangeradius1:hover{
  background:#fffacd;
  border-radius:20px;
}

.btnchangeradius2{
    /*ボタンの形状*/
  display:inline-block;
    background: #fffacd;
    color: #696969;
    padding: 10px 20px;

  // border: 1px solid #555;
    text-decoration: none;
    outline: none;
    /*アニメーションの指定*/
    transition:.3s ease-out;
}

/*hoverした際の角丸のアニメーション*/
.btnchangeradius2:hover{
  background:#f5deb3;
  border-radius:20px;
}


.sample {
  margin-top: 20px;
}

// ↑國原記載##############################################


// ↓松本記載##############################################

.last_name_field {
  margin-right: 100px;
}

.last_name_kana_field {
  margin-right: 100px;
}

.btn-outline-success {
  margin-left: 100px;
}

.customer-index {
  text-decoration: underline;
  font-weight: bold;
}

.admin-customer-show {
  text-decoration: underline;
  font-weight: bold;
}

.admin-customer_edit {
  text-decoration: underline;
  font-weight: bold;
}

.genre_index {
  text-decoration: underline;
  font-weight: bold;
}

.genre_edit {
  text-decoration: underline;
  font-weight: bold;
}

.item_new {
  text-decoration: underline;
  font-weight: bold;
}

.item_edit {
  text-decoration: underline;
  font-weight: bold;
}

.order_index {
  text-decoration: underline;
  font-weight: bold;
}

.admin_customer_index_order {
  text-decoration: underline;
  font-weight: bold;
}

.admin_order_show {
  text-decoration: underline;
  font-weight: bold;
}