<div class='container'>
  <div class='row justify-content-center'>
    <div class="col-md-12">
      <div class='text-center'>
        <h3>ご注文ありがとうございました！</h3>
      </div>
      <!--<ul>-->
      <!--  <li class='order_comp_li'><span class='order_comp_sp'><%= image_tag('Nagano_Cake_Logo.png', size: '20x20') %></span></li>-->
      <!--  <li class='order_comp_li'><span class='order_comp_sp'><img src="https://coosy.co.jp/assets/img/service/service_markting.png" alt=""></span></li>-->
      <!--  <li class='order_comp_li'><span class='order_comp_sp'><img src="https://coosy.co.jp/assets/img/service/service_system.png" alt=""></span></li>-->
      <!--</ul>-->
    </div>
  </div>
</div>
