<div class='container'>
  <div class='row justify-content-center' style = "margin-top: 50px;">
    <div class="col-md-12 complete_area">
      <div class="bg">
        <span class="title">
          <span><%= image_tag('Nagano_Cake_Logo.png', size: '150x150') %></span>
          <span><i class="fas fa-cheese"></i> Thank you for your Order! !</span>
        </span>
      </div>
    </div>
  </div>
</div>