<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="badge badge-warning mb-3">
        <h3>注文詳細</h3>
      </div>
      <%= render 'show_index', order: @order %>
    </div>
  </div>
</div>
