<table class="table table-bordered table-hover" style="text-align: center;" >
  <thead class="thead-light">
    <tr>
      <b><th>ジャンル検索</th></b>
    </tr>
  </thead>
  <tbody>
    <% genres.each do |genre| %>
      <tr>
        <td class="genre-list-item">
          <b><%= link_to genre.name, search_genre_searches_path(id: genre.id) %></b>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>